<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #5a5c51;
        opacity: 0.5;
        z-index:1;
      }
      .nav {
        float: left;
      }
      .nav a {
        font-size: 16px;
        display: block;
        color: #dddfd4;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      .nav a:hover {
        background-color: #3fb0ac;
      }
      body {
        font-size: 16px;
        margin-top: 70px;
        padding: 15px;
        background-color: #e3e0cf;
        color: #173e43;
        font-size: 18px;
        text-align: justify;
        font-family: PT Sans Narrow, sans-serif;
      }
      .col-md-8 {
        /*margin-bottom: 20px;*/
      }
      .link {
        padding-bottom: 10px;
      }
     pre {
        white-space: pre-wrap;
      }
      .btn-secondary {
        width: 50%;
        background-color: none;
        color: green;       
      }
      textarea {
        width: 100%;
        border-radius: 5px;
      }
      input[type="text"] {
        border-radius: 5px;
        width: 100%;
      }
      p {
        padding-left: 20px;
      }
      button {

      }

    </style>

  </head>
   <!-- <a href="/problems">Home</a> -->
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- navbar starts here -->
    <ul class = "navbar">
      <li class = 'nav'><a href="/problems">Home</a></li>
      <li class = "nav" style="float:right"><a method="GET" href = '/logout'>Logout</a></li>
      <% if (is_creator) %>
        <li class = "nav"><a href="/answer/<%= answer.id %>/edit">Edit Answer</a></li>
      <% end %>
    </ul>



    <div class = 'row'>
      <div class = "col-md-10 col-md-offset-1" style="border:2px solid #173e43;" >
        <div class = "row">
          <div class = "col-md-9"> 
            <h3><%= answer.title %></h3>
            <pre><%= answer.content %></pre></br>
            <p style="float:right"> Answered by </br><img width="50px;" height="50px;" src="<%= user_image %>"> <%= user.upcase %></p></br>
            <% if (is_creator) %>
            <form action="/answer/<%= answer.id %>" method="POST"> 
              <input type="hidden" name="_method" value="delete">
              <button style="width:auto;background:transparent;border:none;"><img src="http://www.freeiconspng.com/uploads/remove-icon-png-26.png" style="width:70px;height:60px;"></button>
            </form>
           <% end %>
          </div>

          <div class = "col-md-3" style="background:#9fa8a3; height:1000px;">
            <h3><u>Comments:</u></h3></br>
            <% comments.each do |comment| %>
              <% if comment.answer_id == answer.id %>
                <li>
                  <%= comment.comment %></br>
                  By: <%= User.find(comment.created_by).username.upcase %>
                </li>
              <% end %>
            <% end %>
            <hr>
            <form action="/answer/<%= answer.id %>" method="POST">          
              <label>Comment:</label></br>
              <textarea rows="4" name="comment"></textarea><br/></br>
    
              <button style="width:auto;background:transparent;border:none;"><img src="http://www.clker.com/cliparts/v/j/j/k/U/s/red-submit-button-hi.png" style="width:100px;height:50px;"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>