<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #5a5c51;
      opacity: 0.5;
      z-index:1;
    }
      .nav {
        float: left;
      }
      .nav a {
        font-size: 16px;
        display: block;
        color: #dddfd4;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      .nav a:hover {
        background-color: #3fb0ac;
      }
      body {
        margin-top: 70px;
        padding: 15px;
        color: #173e43;
        font-size: 18px;
        background-color: #e3e0cf;
        text-align: justify;
      }
      .col-md-8 {
        margin-bottom: 20px;
      }
      .link {
        padding-bottom: 10px;
      }
      button {
        width: 20%;
        background:none;
      }
      a {
        color: #173e43;
      }
    </style>

  </head>
  
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!-- navbar -->
    <ul class = "navbar">
      <li class = "nav"><a href="/problems">Home</a></li>
      <% if (student) %>
        <li class = "nav"><a href="/problem/<%= problem.id %>/answers/new">New Answer</a></li>
        <li class = "nav"><a method="GET" href = '/logout'>Logout</a></li> 
      <% end %>
      <% if (teacher) %>
        <li class = "nav"><a href = "/problems/<%= problem.id %>/edit">Edit Problem</a></li>
        <li class = "nav"><a method="GET" href = '/logout'>Logout</a></li>     
      <% end %>
      <li class = "nav" style="float:right"><a href="/sign-up">Sign Up</a></li> 
      <li class = "nav" style="float:right"><a href="/login">Login</a></li> 
    </ul> 
  <!-- navbar ends here -->
    <div class = "row">
      <div class = "col-md-8 col-md-offset-2">
        <h4><u><%= problem.title %></u></h4></br>
        <%= markdown_html  %></br>
        <h4><u>Answers</u></h4></br>
        <!-- <ul> -->
          <% answers.each do |answer| %>
            <% if answer.problem_id == problem.id  %>
            <!-- <li class="link"> -->
              <a href="/answer/<%= answer.id %>">
                <%= answer.title %></br>
                <%= answer.content[0...200] %>...</a></br>
            <!-- </li> -->
            <% end %>
          <% end %>
        <!-- </ul> -->
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-8 col-md-offset-2">
        <form action="/problems/<%= problem.id %>" method="post" class = "delete-form">
          <input type="hidden" name="_method" value="delete">
          <button style="width:auto;background:transparent;border:none;"><img src="http://www.freeiconspng.com/uploads/remove-icon-png-26.png" style="width:70px;height:60px;"></button>
        </form>
      </div> 
    </div>
  </body>
</html>